.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

table {
    border: 10px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

btn {
    position: absolute;
    top:50%;
}

/*b1 {background-color: green;
}*/

b2 {background-color: yellow;
}

b3 {
    background-color: red;
}

but {
    background-color: green;
    color: white;
}